kbp2015/scripts2015/TAC_KBP_2015_English_Cold_Start_Slot_Filling_Evaluation_Queries_V2/dtd/cold_start_slot_filling_queries_2015.dtd

<!ELEMENT query_set (query+) >
<!ELEMENT query   (name,docid,beg,end,enttype,slot0,slot1?) >
<!ELEMENT name    (#PCDATA) >
<!ELEMENT docid   (#PCDATA) >
<!ELEMENT beg     (#PCDATA) >
<!ELEMENT end     (#PCDATA) >
<!ELEMENT enttype (#PCDATA) >
<!ELEMENT slot0   (#PCDATA) >
<!ELEMENT slot1   (#PCDATA) >
<!ATTLIST query id ID #REQUIRED >
